body{
    padding: 0;
    margin: 0;
    font-family: sans-serif
}
.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: rgb(3, 97, 97);
    padding: 0 1.5rem;
}
.main-header__nav{
    height: 100%;
    display: flex;
    align-items: center
}
.main-header__item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header__item{
    margin: 0 1.5rem;
    padding: 0;
}
.main-header__item a{
    text-decoration: none;
    color: white;
}
.main-header__item a:hover,
    .main-header__item a:active,
    .main-header__item a.active{
        color:#a49cec;
    }

.form-group label,
.form-group input {
    display: block;
    margin:0.5rem 0
}
.form-group input{
    border: 1px solid #656565;
    font: inherit;
    border-radius: 5px;
    width:15rem;
}
.form-group input:hover{
    cursor:pointer;
    border:2px solid green;
}
button{
    margin:1rem 0;
    border: 1px solid greenyellow;
    font:inherit;
    background: white;
    border-radius: 5px
}
.form-group button:hover{
    border:1px solid #658814;
    background: #537795;
    color:white
}
.product-form{
    width:30rem;
    max-width: 90%;
    margin:auto;
}
